body {
    height: 100%;
    width: 100%;
}

.link {
    stroke: rgb(67, 86, 192);
}

.node text {
    opacity: 0.8;
    pointer-events: none;
    stroke: black;
    font: 10px Arial;
    text-shadow: white 1px 0, white 1px 1px, white 0 1px, white -1px 1px, white -1px 0, white -1px -1px, white 0 -1px, white 1px -1px;
    /*disable selection*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.arrow {
    stroke-width: 5;
    stroke: rgb(67, 86, 192);
}